:root {
    --textColor: white;
    --primary: rgb(134, 163, 201);
    --secondary: rgb(54, 96, 116);
    --buttonColor: rgb(206, 80, 189);
    --accentColor: rgb(226, 163, 90);
    --activeColor: rgb(223, 132, 72);
    --outlineColor: rgba(226, 162, 90, 0.877);
    --imgOutlineColor: rgba(226, 162, 90, 0.562);
    --gradient: linear-gradient(145deg, rgba(10,115,109,1) 0%, rgba(174,23,196,1) 100%);
    /* --backgroundGradient: radial-gradient(circle, rgba(54,96,116) 50%, rgba(126,22,87) 100%) */
}

/* Boilerplate CSS properties */
* {
    border: none;
    outline: none;
    font-family: Helvetica, Arial, sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* Color of the Visited Links */
*:visited {
    color:var(--textColor);
}


.headerDiv * {
    z-index: 999;
}

header{
    color: var(--textColor);
    background: var(--gradient);
    
    /* Makes the elements horizontal and space them out along the bar */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    top: 0px
}

.logo {
    color: var(--textColor);
    background: transparent;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
}

/* Center the nav vertically */
nav {
    display: flex;
    align-items: center; 
}

nav a {
    color: var(--textColor);
    margin: 0 2rem;
    font-size: 1.2rem;
}

/* Change the color of the text when the mouse is over it */
nav a:hover{
    color:var(--accentColor)
}

a.active {
    color: var(--accentColor);
}

div.logo * {
    color: var(--textColor);
    background: none;
}


/* Hide the burger menu buttons so that they can't be used when viewing the page on a bigger device */
header .navBarBtn {
    color: var(--textColor);
    background: transparent;
    visibility: hidden;
    opacity: 0;

    margin-right: 0.25rem;
    padding: 5px;

    font-size: 1.8rem;
    z-index: 998;
    cursor: pointer;
}

.navBarOpenBtn {
    margin-top: 0.5rem;
}

/* Smaller/Mobile Devices */
@media only screen and (max-width: 1024px){

    header .navBarBtn {
        visibility: visible;
        opacity: 100%;
    }

    header nav {
        background: var(--gradient);

        /* Center the navBar or sets it to the size thanks to the absolute property */
        position: absolute;
        top: -100vh; 
        left: 50%; 
        
        /* Make the elemenst vertical and space them */
        display: flex; 
        flex-direction: column;
        height: 100vh; 
        width: 50%;

        /* Center the Items and give verticle space*/
        justify-content: center; 
        gap: 2rem;

        /* Transition Going Up */
        transition: 1s ease-out; 
        opacity: 0%;
        margin-bottom: 2rem;
    
    }
    
    header .responsiveNavBar {
        transition: 1.5s ease-out; /* Transition Going Down */
        opacity: 100%;
        transform: translateY(100vh); /* Direction and Distance of the Transition */
    }

    header .navBarCloseBtn {
        position: absolute; /* Set the size of the Close Button to the to right corner */
        top: 0.5rem;
        right: 0.15rem;
    }

    nav a {
        background-color: var(--buttonColor);

        /* Center the Text in the navBar */
        text-align: center; 
        align-items: center;

        font-size: 2rem;
        padding: 1.5rem 1rem;

        /* Give the buttons a more rounded look */
        border-radius: 40px; 
        
    }

    /* Change the color of the background and text of the button when hovering is over it */
    nav a:hover {
        color: var(--textColor);
        background-color: var(--accentColor);
    }
    
    /* Change the color of the background and text of the button is pressed / clicked */
    a.active {
        color: var(--textColor);
        background-color: var(--activeColor);
    }
    div.logo * {
        color: var(--textColor);
        background: none;
    }

}

/* Even Smaller/Mobile Devices */
@media only screen and (max-width: 530px){

    header nav {
        left: 0; 
        
        /* Make the navbar take up the full width of the screen */
        height: 100vh; 
        width: 100%;
    }
}